
@{
    ViewBag.Title = "Itens Venda";
}



<br>
<button id="btn_novoItem">
    
</button>
<br><br>

<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
<h1>Itens Venda</h1>

<div>
    <h4>
        Venda: <span id="venda"></span>
        <br>
        Cliente: <span id="cliente"> </span>
    </h4>
</div>

<div class="conteudo">
    <table id="myTableItensVenda" class="table table-striped table-bordered table-hover table-dark"></table>
</div>


@section Scripts
{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        var url_string = window.location.href;
        var url = new URL(url_string);
        var param = url.searchParams.get("idVenda");

        $(document).ready(function () {
            $('#myTableItensVenda').DataTable({
                "ajax": {
                    "url": "/ItemVenda/GetItensVenda/" + param,
                    "type": "GET",
                    "dataType": "json",
                    "dataSrc": ""
                },
                "columns": [
                    {
                        "data": "idItemVenda", "title": "ID", "autowidth": true
                    },
                    { "data": "idVenda", "title": "ID Venda", "autowidth": true },
                    { "data": "produtoNome", "title": "Produto", "autowidth": true },
                    { "data": "qtd", "title": "Quantidade", "autowidth": true },
                    { "data": "valor", "title": "Valor", "autowidth": true },
                    {
                        "title": "Ação",
                        "mDataProp": function (source, type, val) {
                            return '<a href="/ItemVenda/Edit/' + source.idItemVenda + '">Editar</a> | <a href="/ItemVenda/Details/' + source.idItemVenda + '">Detalhes</a> | <a href="/ItemVenda/Delete/' + source.idItemVenda + '">Deletar</a>'

                        },
                        "bSortable": false,
                        "autowidth": true
                    },

                ],
            });
        });

        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: "/Venda/GetVendaId/" + param,
                dataType: 'json',
                data: {},
                success: function (mems) {
                    $("#cliente").text(mems.clienteNome);
                    $("#venda").text(mems.idVenda);
                    $("#btn_novoItem").html('<a href="/ItemVenda/Create/?idVenda=' + mems.idVenda + '">Adicionar item a venda</a>');
                },
                error: function (ex) {
                    alert('Năo foi possível obter dados.');
                }
            });
        });

    </script>

}