@model IEnumerable<CRUD.Models.Venda>

@{
    ViewBag.Title = "Index";
}


<br>
<button>
    @Html.ActionLink("Nova venda", "Create", "Venda")
</button>

<h1>Venda</h1>

<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="conteudo">
    <table id="myTableVenda" class="table table-striped table-bordered table-hover table-dark"></table>
</div>


@section Scripts
{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTableVenda').DataTable({
                "ajax": {
                    "url": "/Venda/GetVenda",
                    "type": "GET",
                    "dataType": "json",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "idVenda", "title": "ID", "autowidth": true },
                    { "data": "clienteNome", "title": "Cliente", "autowidth": true },
                    { "data": "data", "title": "Data - Hora criação", "autowidth": true },
                    { "data": "qtdItens", "title": "Quantidade de itens", "autowidth": true },
                    { "data": "valor", "title": "Valor total", "autowidth": true },
                    {
                        "title": "Ação",
                        "mDataProp": function (source, type, val) {
                            return '<a href="/Venda/Details/' + source.idVenda + '">Detalhes</a> | <a href="/Venda/Delete/' + source.idVenda + '">Deletar</a> | <a href="/ItemVenda/ItensVenda?idVenda=' + source.idVenda + '">Itens</a>'
                        },
                        "bSortable": false,
                        "autowidth": true
                    },

                ],
            });
        });
    </script>

}