@model IEnumerable<CRUD.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br>
<button>
    @Html.ActionLink("Novo produto", "Create", "Produto")
</button>

<div class="conteudo">
    <table id="myTableProduto" class="table table-striped table-bordered table-hover table-dark"></table>
</div>


@section Scripts
{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTableProduto').DataTable({
                "ajax": {
                    "url": "/Produto/GetProduto",
                    "type": "GET",
                    "dataType": "json",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "idProduto", "title": "ID", "autowidth": true },
                    { "data": "nome", "title": "Nome", "autowidth": true },
                    { "data": "valor", "title": "Valor", "autowidth": true },
                    {
                        "title": "Ação",
                        "mDataProp": function (source, type, val) {
                            return '<a href="/Produto/Edit/' + source.idProduto + '">Edit</a> | <a href="/Produto/Details/' + source.idProduto + '">Details</a> | <a href="/Produto/Delete/' + source.idProduto + '">Delete</a>'

                        },
                        "bSortable": false,
                        "autowidth": true
                    },

                ],
            });
        });
    </script>

}
